@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

.darken {
  /*height:600px;*/
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
  background-repeat: no-repeat;
  background-size: cover;
}

.module {
  background-color: rgba(0, 0, 0, 0.3);;
  color: #fff; 
  padding: 0.5rem;
  margin: 2em 2em 2em 2em;
  font-family: 'Amatic SC', cursive;
  
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  
}

.title {
  font-size: 4em;
}

.author {
  font-size: 2em; 
}

